*{
    box-sizing: border-box;

}

body{
    margin: 0;
    padding: 0;
}

.home{
  background-image: url(/assets/images/sunset-1373171_1920.jpg);
  background-size: cover;
  background-position: center center no-repeat;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

  .logo-cont{
  margin: 10px 30px;
  float: left;
  }

  .logo-cont a{
    text-decoration: none;
  }

  .logo{
    color: #F3E1DD;
    font-size: 80px;
  }

  .logo:hover{
    transition:0.2s;
    text-shadow: 0 0 10px black;
  }

  .box-cont {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 100px; 
    padding: 25px;
    position: relative;
    z-index:1;
  }
  
  .box {
    width: 60px;
    height:60px;
    background-color: black;
    margin: 15px;
    border-radius:35px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .box1{
    background-color: #F3E1DD;
  }

  .box2{
    background-color: #F3E1DD;
  }

  .box3{
    background-color: #F3E1DD;
    
  }

  .box4{
    background-color: #F3E1DD;
    
  }

  .box:hover {
    transition: transform 0.3s ease;
    transform: scale(1.1);
  }

  

  .home-text-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
  }

  .homepage-text{
    font-size: 500%;
    color: whitesmoke;
    text-align: center;
    
  }
  
  .homebtn-container{
    text-align:center;
  }

  .fa-xl{
    color: black;
  }

  a {
    text-decoration: none;
  }

  .home-btn{
    border: 1px solid aquamarine;
    border-radius: 50px;
    background: none;
    padding:30px 50px 30px 50px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
    margin: 10px;
    transition: 0.3s;
  }

    .btn1{
      color: aquamarine;
    }
  
    .home-btn:hover{
      color: white;
    }

  .btn1:hover {
    background-color: black;
    border-color: black;
  }

  /* contact page */
  
  
