*{
    box-sizing: border-box;

}

body{
    margin: 0;
    padding: 0;
    background-image: url(/assets/images/black-1072366_1280.jpg);
    background-size: cover;
    background-position: center center no-repeat;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.logo-cont {
    position: fixed;
    top: 10px;
    left: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    
  }
  
  .logo-cont a{
    text-decoration: none;
  }

  .logo {
    float: center;
    padding: 0px;
    font-size: 75px;
    color: whitesmoke;
    text-decoration: none;
  }

  .container {
    display: flex;
    flex-direction: horizontal;
    justify-content: flex-end;
    align-items: right;
    height: 100px; 
    padding: 25px;
    position: relative;
    z-index:1;
  }
  
  .box {
    width: 50px;
    height:50px;
    background-color: black;
    margin: 20px;
    margin-top: 10px;
    border-radius:25px;
  }
  
  .box1{
    background-color: #DBD4D3;
    background-size: cover;
    background-position: center;
  }

  .box2{
    background-color: #BDD4E7;
    background-size: cover;
    background-position: center;
  }

  .box3{
    background-color: #BDD4E7;
    background-size: cover;
    background-position: center;
  }

  .box4{
    background-color: #BDD4E7;
    background-size: cover;
    background-position: center;
  }

  .box:hover {
    transition: transform 0.3s ease;
    transform: scale(1.1);
  }

  
  